{#
/**
 * Tilt Boilermaker - Generic Page Template - Extends Base HTML Layout in Boilerplate folder
 * -----
 * Loads the appropriate page partial or the default
 * 
 * @author    TILT, LLC <support@tiltbuilt.com>
 * @copyright Copyright (c) 2019, TILT, LLC
 * @link      https://tiltbuilt.com
 */
#}


{# -- Layout template for HTML pages -- #}
{% extends "_layouts/_boiler/baseHtmlLayout.twig" %}

{# Load in global macros for use across all Twig templates #}
{% import '_macros/globalMacros' as gMacros %}

{# -- Any <meta> tags that should be included in the <head> #}
{% block headMeta %}
{% endblock headMeta %}

{# -- Any <link> tags that should be included in the <head> #}
{% block headLinks %}
<script src="https://kit.fontawesome.com/d26be30bbd.js" crossorigin="anonymous"></script>
{% endblock headLinks %}

{# -- Any CSS that should be included before </head> -- #}
{% block headCss %}
		
	{# LOADER STYLES INLINE #}
		
		<style>
			#loader {
			  display: none;
			  flex-direction: row;
			  width: 100vw;
			  height: 100vh;
			  position: fixed;
			  background-color: #FFF;
			  top: 0px;
			  left: 0px;
			  z-index: 9999999;
			  box-sizing: border-box;		  
		  }
		  
		  .pageloaded #loader {
			  display: none;
			  width: 0px;
			  height: 0px;
			  z-index: -9999;
			  overflow: hidden;
			  left: -10px;
			  top: -10px;
		  }
		  /*
		  .loader-inner {
			  width: 120px;
			  height: 120px;
			  position: fixed;
			  top: 50%;
			  left: 50%;
			  transform: translate(-50%, -50%);
			  box-sizing: border-box;
			  
		  }
		  
		  .loader-circle {
			  border: 8px solid #EDF2F7; 
			  border-top: 8px solid #a5ce3a; 
			  border-radius: 50%;
			  width: 120px;
			  height: 120px;
			  animation: spin 1.5s linear infinite;
			  position: absolute;
			  top: 0px;
			  left: 0px;
			  box-sizing: border-box;		
		  }
		  
		  .loader-icon {
			  display: block;
			  position: absolute;
			  z-index: 10;
			  width: 60px;
			  height: auto;
			  left: 50%;
			  top: 50%;
			  transform: translate(-50%, -50%);
			  box-sizing: border-box;
		  }
		  
		  @keyframes spin {
			0% { transform: rotate(0deg); }
			100% { transform: rotate(360deg); }
		  }
		  */
		  
		</style>
{% endblock headCss %}

{# -- Page body -- #}

{% block pageId %}{% endblock %}

{% block bodyAttr %}{% endblock %}

{% block bodyHtml %}
	{{ parent() }}
	{# Break the chain to disable the loader entirely #}
	{% if 1==1==1 %}
	  {# Break the chain to disable the loader in Live Preview only #}
	  {% if 1==1==1 or not craft.app.request.isPreview %}
		{# Page loader element #}
		<div id="loader">
		  <!--
		  <div class="loader-inner">
			  <img src="/dist/img/loader-icon.svg" alt="Loading" class="loader-icon">
			  <div class="loader-circle"></div>
		  </div>
		  -->		
		</div>
	  {% endif %}
	{% endif %}
		
	<div id="page-wrapper">
		<div id="login-status-bar-wrapper"></div>
		<div class="wrapper" id="wrapper">		
			<div id="header_topbar"></div>	
			
			{% if block('globalHeader') is defined %}
			  {{ block('globalHeader') }}
			{% endif %}
			
			<div class="root" id="root">
				<main class="main" id="main">
					{% if block('pageHeader') is defined %}
					  {{ block('pageHeader') }}
					{% endif %}
					
					{% if block('pageContent') is defined %}
					  {{ block('pageContent') }}
					{% endif %}
				</main>
				
				{% if block('pageFooter') is defined %}
				  {{ block('pageFooter') }}
				{% endif %}
						
			</div>
		</div>
	</div>
	
	{% block modalContent %}				
		{#
		<div id="modal-wrapper" class="closed">       
			<div id="modal" class="closed" role="dialog" aria-labelledby="modal-title" aria-describedby="modal-description" aria-hidden="true">
				<button id="btn-modal-close" class="btn-modal-close">
					<svg><use xlink:href="#icon-close"></use></svg>
				</button>
				<div id="modal-content">
					<div class="modal-spinner">
						<img src="/dist/img/ajax-loader-gray-300.gif" alt="Loading" />
					</div>
				</div>
			</div>
			<div id="modal-overlay"></div>	
		</div>
		#}	
	{% endblock %}	
			
{% endblock bodyHtml %}