{#
/**
 * Tilt Boilermaker - Partial - Pagination
 * -----
 * 
#}

{% if pageInfo.totalPages > 1 %}
  <nav class="pagination">
	<div class="inner">
	  <div class="pagination-prev">
		{% if pageInfo.prevUrl %}
		  <a href="{{ pageInfo.prevUrl }}" title="Previous Page" class="btn btn-pagination  btn-pagination-prev">
			  <span class="pagination-btn-icon"><svg><use xlink:href="#icon-angle-left"></use></svg></span>
			  <span class="pagination-btn-text">Prev</span>
		  </a>
		{% endif %}
	  </div>	  
	  
	  <div class="pagination-next">
		{% if pageInfo.nextUrl %}
		  <a href="{{ pageInfo.nextUrl }}" title="Next Page" class="btn btn-pagination  btn-pagination-next">
			  <span class="pagination-btn-text">Next</span>
			  <span class="pagination-btn-icon"><svg><use xlink:href="#icon-angle-right"></use></svg></span>
		  </a>
		{% endif %}
	  </div>
	  
	  <div class="pagination-pages">
		  {% for page, url in pageInfo.getPrevUrls(3) %}
			<a href="{{ url }}">{{ page }}</a>
		  {% endfor %}
  
		  <span class="current">{{ pageInfo.currentPage }}</span>
  
		  {% for page, url in pageInfo.getNextUrls(3) %}
			<a href="{{ url }}">{{ page }}</a>
		  {% endfor %}
		</div>
	</div>
  </nav>
{% endif %}